<head>
  <meta charset='utf-8'>
  <title>Regis Portal</title>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='Regis Portal' name='description'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation-flex.min.css' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'>
  <link href='css/application.css' rel='stylesheet'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.js' type='text/javascript'></script>
</head>
