/*
  _______   ______  _____
 |_   _\ \ / /  _ \| ____|
   | |  \ V /| |_) |  _|
   | |   | | |  __/| |___
   |_|   |_| |_|   |_____|

*/

.uppercase { text-transform: uppercase !important; }
.lowercase { text-transform: uppercase !important; }

.font-1 {
  font-family: $font-1;
}

.font-2 {
  font-family: $font-2;
}

.font-3 {
  font-family: $font-3;
}

.font-4 {
  font-family: $font-4;
}


// Font Size Helper Classes

.text-xs { font-size: $font-size-tiny; }
.text-sm { font-size: $font-size-sm; }
.text-md { font-size: $font-size-md; }
.text-lg { font-size: $font-size-lg; }
.text-xl { font-size: $font-size-xl; }
.text-jumbo { font-size: $font-size-jumbo; }


// Font Weight Helper Classes

.text-thin {
  font-weight: 200;
  color: $dark-gray;
}

.text-normal {
  font-weight: 300;
  color: $dark-gray;
}

.text-bold {
  font-weight: 500;
  color: $dark-gray;
}

.text-ultra {
  font-weight: 600;
  color: $dark-gray;
}
