/*
     _    ____  ____  _     ___ ____    _  _____ ___ ___  _   _
    / \  |  _ \|  _ \| |   |_ _/ ___|  / \|_   _|_ _/ _ \| \ | |
   / _ \ | |_) | |_) | |    | | |     / _ \ | |  | | | | |  \| |
  / ___ \|  __/|  __/| |___ | | |___ / ___ \| |  | | |_| | |\  |
 /_/   \_\_|   |_|   |_____|___\____/_/   \_\_| |___\___/|_| \_|

*/

/* ---------- BEGIN GLOBAL IMPORTS -------------- */

@import "global/reset";
@import "global/normalize";
@import "global/vars";
@import "global/utilities";
@import "global/helpers";
@import "global/mixins";

/* ------------ END GLOBAL IMPORTS -------------- */


/* ---------- BEGIN MODULE IMPORTS -------------- */

@import "modules/buttons";
@import "modules/headings";
@import "modules/typography";
@import "modules/superhero";

/* ---------- END MODULE IMPORTS -------------- */


/* ---------- BEGIN SECTION IMPORTS -------------- */

@import "sections/login";

/* ---------- END SECTION IMPORTS -------------- */

.row {
  max-width: none;
}

div, p, section, aside {
  font-family: $font-2;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

a:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

p {
  float: left;
  width: 100%;
  margin-top: 1rem;
}

#container-main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 4rem;
}

#container-main:after {
  content: "";
  display: block;
}

.tooltip {
  font-family: $font-2 !important;
}

b, strong {
  font-size: 1.05rem;
  font-weight: bold !important;
}

em {
  font-style: italic !important;
}

.bodyInvoiceStationary-inner {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* ----------------- BEGIN GLOBAL IMPORTS -------------- */



/* ----------------- END GLOBAL IMPORTS -------------- */


/* ----------------- BEGIN SECTION IMPORTS -------------- */


/* ----------------- END SECTION IMPORTS -------------- */

